<% if params[:offer_discounts] %>
  <h1>We offer discounts for crypto payments!</h1>
<% else %>
  <h1>List of All Businesses</h1>
<% end %>

<div class="">
  <ul>
    <% @businesses.each do |b| %>
      <li><%= link_to "#{b.name}", biz_path(b) %></li>
    <% end %>
  </ul>
</div>
