<h1><%= @business.name %></h1>

<div class="">
  <label>Price Range: </label>
  <%= @business.price_range %><br />
  <label>Description: </label>
  <%= @business.description %><br />
  <label>Location: </label>
  <%= @business.location.name %>
</div>
