<h1>Welcome to Spend It Here!</h1>

<p>We hope you'll find all your business and consumer needs here.</p>
<p>We provide viewers and users with a community managed database of information and reviews regarding businesses and service providers that accept cryptocurrency as a form of payment.</p>
