<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2><%= @review.title %></h2>

<div>
  <%= @review.comment %>
</div>

  <%= link_to "Edit Review", edit_biz_review_path(@business, @review) %>
